body {
    background-color: #252B42;
    font-family: Arial;
}

h1 {
    Text-Style: h1;
    Font-style: ExtraBold;
    Font-size: 58px;
    Line-height: 80px;
    Line-height: 113%;
    Align: Center;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    Text-Style: h1;
    Font-style: ExtraBold;
    Font-size: 40px;
    Line-height: 80px;
    Line-height: 113%;
    Align: Center;
    color: #FFFFFF;
    text-align: center;
}

h3 {
    text-align: center;
    float: left;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 195px;
    margin-top: 30px;
    padding-right: 62px;
    font-style: Bold;
    font-size: 24px;
}

h4 {
    text-align: center;
    font-style: Medium;
    font-size: 20px;
    line-height: 30px;
    line-height: 123%;
    align: Center;
    Fill: Solid;
    color: #FFFFFF;
}

h5 {
    text-align: center;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    line-height: 117%;
    align: Center;
    Fill: Solid;
    color: #737373;
    letter-spacing: 0.2px;
}

ul li {
    display: inline;
    color: #FFFFFF;
    float: left;
}

.login li {
    margin-left: 214px;
    margin-top: 33px;
    padding: 24px;
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 21px;
    margin-top: 30px;
}

.content {
    width: 650px;
    margin-top: 170px;
    margin-left: 341.5px;
}

.content1 {
    width: 550px;
    margin-top: 170px;
    margin-left: 392px;
}

.login a {
    display: block;
    margin-left: 214px;
    font-size: 14px;
    color: #23A6F0;
}

.btnBecome {
    background-color: #23A6F0;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 19px;
    margin-left: 45px;
    border-radius: 5px;
}

.btn2 {
    background-color: #23A6F0;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 19px;
    margin-left: 45px;
    border-radius: 37px;
}

.btn3 {
    border: none;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 19px;
    margin-left: 45px;
    border-radius: 37px;
    background-color: #252B42;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.btn {
    width: 500px;
    margin-top: 19px;
    margin-left: 441px;
    padding: 10px;
}

li a:hover {
    color: #1815e2;
    transform: scale(1.2);
}

.btnBecome:hover {
    background-color: rgb(28, 17, 179);
    transform: scale(1.1);
}

.btn2:hover {
    background-color: rgb(28, 17, 179);
    transform: scale(1.1);
}

.btn3:hover {
    background-color: #FFFFFF;
    color: var(--def);
    transform: scale(1.1);
}